body {
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.speedometer {
  border: 2px solid white;
  border-radius: 100%;

  height: 256px;
  width: 256px;

  position: relative;
}

.speedometer .bar {
  border: 0px solid white;
  width: 0px;
  transform: scaleX(var(--dial-bar));
  transform-origin: 0% 0%;
  transition: transform 0.5s linear;
  position: relative;
}

.speedometer .minimum {
  color: white;
  top: 50%;
  left: 0;
  transform: translate(18px, -50%);
  transform-origin: 0% 50%;
  transform: rotate(10deg);
  position: absolute;
}

.speedometer .maximum {
  color: white;
  top: 50%;
  right: 0;
  transform: translate(-18px, -50%);
  position: absolute;
}

.speedometer .numdisplay {
  font-size: 3em;
  color: white;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.dial {
  background: red;
  height: 4px;
  width: 60%;
  transform-origin: 83.33% 0%;

  position: absolute;
  top: 50%;
  transform: rotate(var(--dial-angle, -25.71deg));
  transition: transform 0.5s linear;
}

#telemetry-status {
  color: white;
}
